 <!DOCTYPE html>
<html>
<%= render 'layouts/head' %>

<body>
 <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar-title">
    <h1 class="title">VocabTest</h1>
     <a class="button" href="#">
    Login
  	</a>
  </header>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
 

    <div class="content-padded">
      <p class="welcome">Thanks for downloading Ratchet. This is an example HTML page that's linked up to compiled Ratchet CSS and JS, has the proper meta tags and the HTML structure. Need some more help before you start filling this with your own content? Check out some Ratchet resorces:</p>
    </div>

    <form>
	  <div class="input-group">
	    <input type="text" placeholder="Full name">
	    <input type="email" placeholder="Email">
	    <input type="text" placeholder="Username">
	  </div>
	</form>
  </div>
</body>
</html>  